page-home {
  #div-parent {
    border-style: solid;
    position: absolute;
    height: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background-color: orange;
  }

  #div-child {
    position: absolute;
    border-style: solid;
    border-color: teal;
    height: 25%;
    //right: 0;
    //top: 0;
    float:right;
    background-color: white;
  }

  #call-button {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  #remote-view-video {
    max-height: 100%;
    max-width: 100%;
    width:auto;
  }

  #self-view {
    max-height: 100%;
    max-width: 100%;
    width:auto;
  }
}
